name: tests

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12"]
        tox-env: ["py310", "py311", "py312"]

      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true

      - name: Install tox + tox-uv
        run: uv tool install tox --with tox-uv

      - name: Run tox
        run: tox -e ${{ matrix.tox-env }}