name: tests

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        # tox-env: ["py310", "py311", "py312"] => config used with tox.ini

      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install tox + tox-uv
        run: uv tool install tox --with tox-uv

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tox
        # use all env tox defined in tox.ini
        run: tox